* {
font-family: Arial, Verdana, sans-serif;
color: #ffffff;
text-align: center; }
body {
background-color: #000000;}
nav {
padding: 10px;
margin: 10px;
a:visited { color: #00ffff;}
p { margin: 30px;}
