* {
font-family: Arial, Verdana, sans-serif;
color: #ffffff;
text-align: center; }
body {
background-color: #000000;}
nav {
padding: 10px;
margin: 10px; }
a:link { color: #00FFFF; }
a:visited { color: #FF00FF;}
p { margin: 50px;}
dl { 
display: inline-block; 
text-align: left;}
